.bar {
    max-width: 50px;
    display: inline-block;
    margin:30px 1px;
  position: relative;

}

body{
    text-align: center;
}

.container-bars{
    height: 560px;
    border: 2px solid black;
}